{% extends 'base.html' %}
{% block title %} Edit blog post {% endblock %}

{% block content %}

<style>
    .update-container{
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

</style>


<div class="update-container">

    <div>

    </div>

    <div>
        {% if user.is_authenticated%}

        <h1> Update post </h1>
    
        </br>
    
            {% if user.id == post.author.id%}
                <div class="form-group"></div>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.media}}
                        {{ form.as_p}}
                        <button class="btn btn-success"> Update </button>
    
                </div>
            
            {%else%}
            forbidden
            {% endif %}
    
        {% else %}
    
        You're not allowed here...
    
        {% endif %}
    
        {% endblock %}
    </div>


</div>

